@font-face {
    font-family: 'ShihabRoughHandwriting-Regular';
    src: url('ShihabRoughHandwriting/ShihabRoughHandwriting-Regular.woff2') format('woff2'),
         url('ShihabRoughHandwriting/ShihabRoughHandwriting-Regular.woff') format('woff');
}
@font-face {
    font-family: 'ShihabRoughHandwritingEnglish-Regular';
    src: url('ShihabRoughHandwriting/ShihabRoughHandwritingEnglish-Regular.woff2') format('woff2'),
         url('ShihabRoughHandwriting/ShihabRoughHandwritingEnglish-Regular.woff') format('woff');
}
